<%= form_for(:superadmin, url: yield(:url), method: yield(:method)) do |f| %>
    <% if @superadmin.errors.any? %>
        <div id="error_explanation">
          <h2 class="text-left"><%= pluralize(@superadmin.errors.count, "error") %> prohibited this superadmin from
            being saved:</h2>
          <ul>
            <% @superadmin.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email address' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>

    <%= f.submit "Create", class: "btn btn-primary btn-block" %>
<% end %>