<p id="notice"><%= notice %></p>

<h1>Superadmins</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>password_digest</th>
      <th colspan="3">operation</th>
    </tr>
  </thead>

  <tbody>
    <% @superadmins.each do |superadmin| %>
      <tr>
        <td><%= superadmin.username %></td>
        <td><%= superadmin.password_digest %></td>
        <td><%= link_to 'Show', superadmin %></td>
        <td><%= link_to 'Edit', edit_superadmin_path(superadmin) %></td>
        <td><%= link_to 'Destroy', superadmin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Superadmin', new_superadmin_path %>
