<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @superadmin.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @superadmin.password %>
</p>

<%= link_to 'Edit', edit_superadmin_path(@superadmin) %> |
<%= link_to 'Back', superadmins_path %>
