<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @superadmin.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @superadmin.name %>
</p>

<% if @superadmin.email.eql? current_user.email %>
    <%= link_to 'Edit', edit_superadmin_path(@superadmin) %> |
<% end %>
<%= link_to 'Back', superadmins_path %>
