<h1>Welcome to the best car-rental company</h1>
<div class="row">
  <div class="text-center">
    <% if !current_user %>
        <%= link_to 'Login', login_path, class: "btn btn-primary btn-lg", id: "welcome" %>
        <%= link_to 'Customer Sign Up', signup_path, class: "btn btn-default btn-lg", id: "welcome" %>
    <% else %>
        <% if login_authority.eql? 'super' %>
            <%= link_to 'Manage superadmins', superadmins_path, class: "btn btn-default btn-lg", id: "welcome" %>
            <%= link_to 'Manage admins', admins_path, class: "btn btn-default btn-lg", id: "welcome" %>
            <%= link_to 'Manage customers', customers_path, class: "btn btn-default btn-lg", id: "welcome" %>
            <%= link_to 'Manage cars', cars_path, class: "btn btn-default btn-lg", id: "welcome" %>
        <% end %>
        <% if login_authority.eql? 'admin' %>
            <%= link_to 'Manage admins', admins_path, class: "btn btn-default btn-lg", id: "welcome" %>
            <%= link_to 'Manage customers', customers_path, class: "btn btn-default btn-lg", id: "welcome" %>
            <%= link_to 'Manage cars', cars_path, class: "btn btn-default btn-lg", id: "welcome" %>
        <% end %>
        <% if login_authority.eql? 'customer' %>
            <%= link_to 'View cars', cars_path, class: "btn btn-default btn-lg", id: "welcome" %>
            <%= link_to 'Search cars', root_path, class: "btn btn-default btn-lg", id: "welcome" %>
            <%= link_to 'View checkout history', customer_history_path(:customer => {:email => current_user.email}), class: "btn btn-default btn-lg", id: "welcome" %>
        <% end %>
    <% end %>
  </div>
</div>
<%= link_to image_tag("welcome.jpg", class: 'img-responsive center-block') %>
