<p id="notice"><%= notice %></p>
<h1>Current Reservation</h1>


<table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Status</th>
        <th>Lisence-Plate Number</th>
        <!-- <th colspan="2">operation</th> -->
        <th>Checkout Time</th>
        <th>Operation</th>
      </tr>
      </thead>

      <tbody>
      <% @reservations.each do |r| %>
        <% if r.status == "Checkout" || r.status == "Reserved" %>
          <tr>
            <td><%= r.status %></td>
            <td><%= r.lpn %></td>
            <td><%= r.expect_start_time%></td>
            <% if r.status == "Reserved" %>
              <td><%= link_to 'Checkout', checkout_path(:reservation => {:lpn => r.lpn}) %><td>
            <% else %>
              <td><%= link_to 'Return', returncar_path(:reservation => {:lpn => r.lpn}) %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
