<p id="notice"><%= notice %></p>
<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %>
<% if login_authority == 'customer' %>
    <%= link_to 'Back', root_path %>
<% else %>
    <%= link_to 'Back', customers_path %>
<% end %>
