<%= form_for :reservation do |f| %>
    <% if login_authority == "customer" %>
        <%= f.hidden_field :email, :value => current_user.email %>
    <% else %>
        <%= f.label :email,"Customer Email" %>
        <%= f.email_field :email %>
    <% end %>
    <%= f.hidden_field :lpn %>

    <%= f.label :expect_start_time %>
    <%= f.datetime_select :expect_start_time %>

    <%= f.label :expect_return_time %>
    <%= f.datetime_select :expect_return_time %>
    <p>
      <%= f.submit "Reserve", class: "tn btn-primary" %>
    </p>
<% end %>