<%= form_for :reservation do |f| %>
    <% if login_authority == "customer" %>
        <%= f.hidden_field :email, :value => current_user.email %>
    <% else %>
        <%= f.label :email, "Customer Email" %>
        <% options = options_from_collection_for_select(User.where(:authority => 'customer'),'email','email') %>
        <%= f.select :email, options %>
    <% end %>
    <%= f.hidden_field :lpn %>

    <p>
      <%= f.label :expect_start_time,'Expect checkout time' %>
      <%= f.datetime_select :expect_start_time %>
    </p>
    <p>
      <%= f.label :expect_return_time %>
      <%= f.datetime_select :expect_return_time %>
    </p>
    <p>
      <%= f.submit "Create", class: "tn btn-primary" %>
    </p>
<% end %>