<p id="notice"><%= notice %></p>
<div class="row">


  <h1>Car Reservation History</h1>

  <% if @reservations %>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>email</th>
          <th>lpn</th>
          <th>checkout time</th>
          <th>return time</th>
          <th>status</th>
          <th>charge</th>
        </tr>
        </thead>

        <tbody>
        <% @reservations.each do |reservation| %>
            <% if reservation.status == "Returned" %>
                <tr>
                  <td><%= reservation.email %></td>
                  <td><%= reservation.lpn %></td>
                  <td><%= reservation.checkout_time %></td>
                  <td><%= reservation.return_time %></td>
                  <td><%= reservation.status %></td>
                  <td><%= reservation.charge %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
  <% end %>
  <br>
  <%= link_to 'Back', cars_path, class: "btn btn-primary" %>

</div>