<h2 id="notice"><%= notice %></h2>

<h1>Cars</h1>

<%= render 'search' %>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>License-plate Number</th>
    <th>Manufactuere</th>
    <th>Model</th>
    <th>Hourly Rental Rate</th>
    <th>Style</th>
    <th>Location</th>
    <th>Status</th>
    <th colspan="5">Operations</th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
      <% if login_authority.eql? 'customer' %>
          <% if car.status.eql? 'Available' %>
              <tr>
                <td><%= car.lpn %></td>
                <td><%= car.manufactuere %></td>
                <td><%= car.model %></td>
                <td><%= car.hrr %></td>
                <td><%= car.style %></td>
                <td><%= car.location %></td>
                <td><%= car.status %></td>
                <td><%= link_to 'Show', car %></td>
                <td><%= link_to 'Reserve', reserve_path(:reserve => {:lpn => car.lpn, :email => current_user.email}) %></td>
                <td><%= link_to 'Rent', rent_path(:reserve => {:lpn => car.lpn, :email => current_user.email}) %></td>
              </tr>
          <% end %>
      <% else %>
          <tr>
            <td><%= car.lpn %></td>
            <td><%= car.manufactuere %></td>
            <td><%= car.model %></td>
            <td><%= car.hrr %></td>
            <td><%= car.style %></td>
            <td><%= car.location %></td>
            <td><%= car.status %></td>
            <% if car.status.eql? 'Available' %>
                <td><%= link_to 'Reserve', reserve_path(:reserve =>{:lpn => car.lpn}) %></td>
                <td><%= link_to 'Rent', rent_path(:reserve =>{:lpn => car.lpn}) %></td>
            <% else %>
                <td></td>
                <td></td>
            <% end %>
            <td><%= link_to 'Show', car %></td>
            <td><%= link_to 'Edit', edit_car_path(car) %></td>
            <td><%= link_to 'Destroy', car, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>

  <% end %>
  </tbody>
</table>

<br>
<% if login_authority != 'customer' %>
    <%= link_to 'New Car', new_car_path, class: "btn btn-primary" %>
<% end %>