<p id="notice"><%= notice %></p>

<p>
  <strong>License-place Number</strong>
  <%= @car.lpn %>
</p>

<p>
  <strong>Manufactuere</strong>
  <%= @car.manufactuere %>
</p>

<p>
  <strong>Model</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Hourly rental rate</strong>
  <%= @car.hrr %>
</p>

<p>
  <strong>Style</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Location</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Status</strong>
  <%= @car.status %>
</p>
<% if @car.img_attach? %>
    <strong>Image</strong>
    <%= image_tag (@car.img_attach.url),class: 'img-responsive center-block' %>
<% end %>
<p>
  <%= link_to 'Current reservation', customer_reservation_path(:customer => {:email => current_user.email}) %>

</p>

<p>
  <%= link_to 'Checkout History', carhistory_path(:car => {:carlpn => @car.lpn}) %>
</p>
<p>
  <%= link_to 'Edit', edit_car_path(@car) %>
</p>
<p>
  <%= link_to 'Back', cars_path %>
</p>